In [1]:
import pandas as pd

In [2]:
netflix_titles = pd.read_csv("netflix_titles.csv")
netflix_titles

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [3]:
netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [4]:
netflix_titles.duplicated().value_counts()

False    8807
Name: count, dtype: int64

Convert the `type`, `country`, `rating` and `listed_in` columns to categorical `dtype`:

In [5]:
netflix_titles = netflix_titles.astype(
    {
        "type": "category",
        "country": "category",
        "rating": "category",
        "listed_in": "category",
    }
)
netflix_titles.dtypes

show_id           object
type            category
title             object
director          object
cast              object
country         category
date_added        object
release_year       int64
rating          category
duration          object
listed_in       category
description       object
dtype: object

In [6]:
netflix_titles["type"].dtype

CategoricalDtype(categories=['Movie', 'TV Show'], ordered=False, categories_dtype=object)

In [7]:
netflix_titles["rating"].dtype

CategoricalDtype(categories=['66 min', '74 min', '84 min', 'G', 'NC-17', 'NR', 'PG',
                  'PG-13', 'R', 'TV-14', 'TV-G', 'TV-MA', 'TV-PG', 'TV-Y',
                  'TV-Y7', 'TV-Y7-FV', 'UR'],
, ordered=False, categories_dtype=object)

In [8]:
netflix_titles["country"].dtype

CategoricalDtype(categories=[', France, Algeria', ', South Korea', 'Argentina',
                  'Argentina, Brazil, France, Poland, Germany, Denmark',
                  'Argentina, Chile', 'Argentina, Chile, Peru',
                  'Argentina, France',
                  'Argentina, France, United States, Germany, Qatar',
                  'Argentina, Italy', 'Argentina, Spain',
                  ...
                  'Uruguay, Argentina, Germany, Spain',
                  'Uruguay, Argentina, Spain', 'Uruguay, Germany',
                  'Uruguay, Guatemala', 'Uruguay, Spain, Mexico', 'Venezuela',
                  'Venezuela, Colombia', 'Vietnam', 'West Germany',
                  'Zimbabwe'],
, ordered=False, categories_dtype=object)

In [9]:
netflix_titles["listed_in"].dtype

CategoricalDtype(categories=['Action & Adventure', 'Action & Adventure, Anime Features',
                  'Action & Adventure, Anime Features, Children & Family Movies',
                  'Action & Adventure, Anime Features, Classic Movies',
                  'Action & Adventure, Anime Features, Horror Movies',
                  'Action & Adventure, Anime Features, International Movies',
                  'Action & Adventure, Anime Features, Sci-Fi & Fantasy',
                  'Action & Adventure, Children & Family Movies',
                  'Action & Adventure, Children & Family Movies, Classic Movies',
                  'Action & Adventure, Children & Family Movies, Comedies',
                  ...
                  'TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows',
                  'TV Dramas, TV Thrillers', 'TV Dramas, Teen TV Shows',
                  'TV Horror, TV Mysteries, TV Sci-Fi & Fantasy',
                  'TV Horror, TV Mysteries, TV Thrillers',
                  'TV Horror, TV Mysteries, Teen TV Shows',
                  'TV Horror, Teen TV Shows',
                  'TV Sci-Fi & Fantasy, TV Thrillers', 'TV Shows',
                  'Thrillers'],
, ordered=False, categories_dtype=object)

Convert the `rating` column to ordered categorical type with custom ordering:

    - Check the number of entries in each category.

In [10]:
netflix_titles["rating"].dtype

CategoricalDtype(categories=['66 min', '74 min', '84 min', 'G', 'NC-17', 'NR', 'PG',
                  'PG-13', 'R', 'TV-14', 'TV-G', 'TV-MA', 'TV-PG', 'TV-Y',
                  'TV-Y7', 'TV-Y7-FV', 'UR'],
, ordered=False, categories_dtype=object)

In [11]:
netflix_titles["rating"].value_counts(dropna=False)

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NaN            4
NC-17          3
UR             3
66 min         1
74 min         1
84 min         1
Name: count, dtype: int64

    - Customize the ordering.

In [12]:
from pandas.api.types import CategoricalDtype

rating_categories = CategoricalDtype(
    categories=["G", "TV-Y", "TV-G", "TV-Y7", "TV-Y7-FV", "PG", "TV-PG", "PG-13", "TV-14", "R", "TV-MA", "NC-17", "NR", "UR"],
    ordered=True
)

netflix_titles["rating"].astype(rating_categories)

0       PG-13
1       TV-MA
2       TV-MA
3       TV-MA
4       TV-MA
        ...
8802        R
8803    TV-Y7
8804        R
8805       PG
8806    TV-14
Name: rating, Length: 8807, dtype: category
Categories (14, object): ['G' < 'TV-Y' < 'TV-G' < 'TV-Y7' ... 'TV-MA' < 'NC-17' < 'NR' < 'UR']

In [13]:
netflix_titles["rating"].value_counts(dropna=False)

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NaN            4
NC-17          3
UR             3
66 min         1
74 min         1
84 min         1
Name: count, dtype: int64

    - View the three rows with rating values "66 min", "74 min" and "84 min".

In [16]:
netflix_titles[netflix_titles["rating"] == "66 min"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

In [17]:
netflix_titles[netflix_titles["rating"] == "74 min"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."

In [18]:
netflix_titles[netflix_titles["rating"] == "84 min"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...

    - Seems to be a data entry/collection error. Values in the rating column belong to the duration column.
    - UR (Unrated) seems to be an appropriate rating value for the items based on their respective description columns.

In [22]:
netflix_titles.iloc[[5813]]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...